@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light,dark;
  color: black;
  /*background-color: rgb(17 24 39 / var(--tw-bg-opacity))  #111827 ;*/


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 27.5px solid #dfe6ed;
}

.hexagon:after {
  top: 100%;
  border-top: 27.5px solid #dfe6ed;
}
.main:before {
  bottom: 100%;
  border-bottom: 27.5px solid white;
}

.main:after {
  top: 100%;
  border-top: 27.5px solid white;
}
